aiogram==3.30.0
aiohttp==3.14.2
aiohttp_socks==0.11.0
aiosignal==1.4.0
pydantic==2.13.4
pydantic_core==2.46.4
python-slugify==8.0.4
python-socks==2.8.2
pytubefix==10.11.0
pydantic-settings==2.14.2
python-json-logger==4.1.0
aiosqlite==0.22.1
setuptools==83.0.0
